table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}
td {
    border: 1px solid black;
    padding: 5px;
}
td:nth-child(1) {
    font-weight: bolder;
}
td[colspan="2"]{
    font-weight: bolder;
}
thead {
    background: darkmagenta;
    font-weight: bolder;
}
tbody td{
    background: linear-gradient(47deg, rgba(131,58,180,0.7259497549019608) 0%, rgba(255,255,255,1) 49%, beige 100%);
}